  html,
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f1f1;
  }

  #app {
    width: 700px;
    height: 90vh;
    margin: 40px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    border-radius: 3px;
  }

  h1 {
    margin-bottom: 2rem;
    font-weight: normal;
  }

  input {
      width: 600px;
      height: 30px;
      border: 2px solid #CED4DA;
      border-radius: 3px;
      font-size: 15px;
      color: darkgray;
      padding-left: 10px;
  }

  button {
    margin-top: 2rem;
    cursor: pointer;
    display: inline-block;
    background: #385499;
    color: white;
    font-size: 20px;
    border: 0;
    border-radius: 3px;
    padding: 0.5rem 1rem;
  }

  button:focus {
    outline: none;
  }

  button:hover {
    transform: scale(1.02);
  }

  .control {
    margin-top: -1.5rem;
  }

  .display {
      margin-top: 2rem;
      width: 600px;
      height: 470px;
  }

  .yield-loss {
    margin: 10px auto;
    border-radius: 3px;
    background-color:#CCE5FF;
    width: 300px;
    height: 25px;
    padding-top: 8px;
  }

  .grid {
    margin: 1rem auto;
    width: 400px;
    height: 400px;
  }

  #canvas {
    border:2px solid #000000;
    background-color: white;
    margin-top: 1.5rem;
  }

  table {
    width: 400px;
    height: 400px;
    background-color:#FFFFFF;
    table-layout: fixed;
  }

  table, tr, td {
    border: 1px solid gray;
    border-collapse: collapse;
  }

  tr {
    font-size: 10px;
  }

  .outbreak {
    background-color: #F50D02;
  }

  .outbreak-1 {
    background-color: #FDD966;
  }

  .outbreak-2 {
    background-color: #FCE5CD;
  }
